body {
    background: linear-gradient(360deg, #00D897 75%, #5BF977 25%);
    width: 1300px;
    height: 600px;
}

footer {
    position: absolute;
    top: 650px;
    background-color: #5BF977;
    text-align: center;
    padding-left: 47.85%;
    padding-right: 47.85%;
    margin-left: -1.80%;
    margin-right: -1.80%;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: 'Kanit', sans-serif;
    text-shadow: 0px 2px 2px #03470f;
}

li {font-size: 27px; line-height: 46px; 
    font-family: 'Ibarra Real Nova', serif;
}

#im {position: absolute; left: 880px; top: 172px; width: 450px; height: 470px; opacity: 1;}

#titu {
    font-size: 70px;
    text-shadow: 0px 2px 2px #3c3f06;
    text-align: center;
    margin-left: 55px;
    font-family: 'Poppins', sans-serif;

}
